* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary-bg: #1e2028;
$secondary-bg: #3a3e4e;
$text-white: #ffffff;
$text-white-secondary: #bdbdbd;

html {
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Lora', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  background-color: $primary-bg;
  // color: $text-white;
}
a {
  // font-family: initial;
  color: initial;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
.btn {
  display: inline-block;
  padding: 0.52rem;

  font-size: 0.89rem;
}
.btn-outline {
  color: $text-white;
  border: 1px solid $text-white;
}
.btn-link {
  color: $text-white;
  margin-left: 2rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 9.3rem;
  .brand {
    justify-content: space-between;
    .navbar-toggler {
      display: none;
    }
  }
  .brand-logo {
    height: 45px;
  }
  ul,
  li {
    display: inline-block;
    list-style: none;
  }
  li {
    padding: 1rem 1rem;
    // margin-left: 2rem;
  }
  a {
    color: $text-white-secondary;
  }
  // padding: 4rem auto;
}

@media screen and (max-width: 560px) {
  nav {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // text-align: left;
    margin: 2rem 1rem;
    .brand {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .navbar-toggler {
        display: block;
      }
    }
    .navbar-collapse {
      display: none;
    }
    .navbar-collapse.show {
      display: block;
    }
    ul {
      display: block;
    }
    li {
      display: block;
    }
  }
  section {
    margin: 0 16px;
  }
}
#contact {
  margin-bottom: 3rem;
  .contact-container {
    text-align: center;
    margin-top: 150px;
    h2 {
      color: #f5f5f5;
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 48px;
    }
    .email-copy {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      /* padding: 25px; */
      p#email {
        color: #f5f5f5;
        font-weight: 400 !important;
        margin-bottom: 0;
        padding: 15px 35px;
        background-color: rgba(13, 109, 253, 0.1294117647);
        background-color: #3c4043;
        border: 1px solid #0d6dfd;
        border-radius: 5px 0 0 5px;
        letter-spacing: 0.25px;
        font-size: 1.2rem;
        font-weight: 600;
      }
      button {
        padding: 10px 25px;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: #0d6dfd;
        color: #ffffff;
      }
    }
    p.hidden {
      display: none;
      animation: hideAnimation 0s ease-in 5s;
      animation-fill-mode: forwards;
    }
  }
  p.email-success {
    font-weight: 600;
    color: green;
    padding: 5px;
    width: 125px;
    margin: 15px auto;
    transition-timing-function: ease-in;
    transition-duration: 800ms;
  }
}
#hero {
  text-align: center;
  padding: 4rem auto;
  // background-color: $primary-bg;
  h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    color: $text-white;
  }
  p.lead {
    color: $text-white-secondary;
    font-size: 1.25rem;
    width: 40%;
    margin: auto;
    margin-bottom: 4rem;
  }
  margin-bottom: 4rem;
}
#templates {
  margin: 4rem 9.3rem;
  .template-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: center;
    .template-item {
      img {
        height: 250px;
        width: 100%;
      }
      h3 {
        color: $text-white;
        font-size: 1.93rem;
      }
      p {
        color: $text-white-secondary;
        font-size: 1.3rem;
      }
      a {
        margin-top: 0.85rem;
        // padding-bottom: 0.52rem;
        // padding-left: 0.52rem;
        // padding-right: 0.52rem;
        // padding-bottom: 2rem;
      }
    }
  }
}
#pricing {
  padding: 4rem auto;
  // background-color: $primary-bg;
  h1 {
    font-size: 1.54rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: $text-white;
  }
  p {
    color: $text-white-secondary;
    font-size: 1rem;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .bmc-btn-container {
    text-align: center;
    font-size: 15px;
  }
}
