* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  background-color: #1e2028;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.52rem;
  font-size: 0.89rem;
}

.btn-primary {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-outline {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-link {
  color: #ffffff;
  margin-left: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 9.3rem;
}
nav .brand {
  justify-content: space-between;
}
nav .brand .navbar-toggler {
  display: none;
}
nav .brand-logo {
  height: 45px;
}
nav ul,
nav li {
  display: inline-block;
  list-style: none;
}
nav li {
  padding: 1rem 1rem;
}
nav a {
  color: #bdbdbd;
}

@media screen and (max-width: 560px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
  }
  nav .brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  nav .brand .navbar-toggler {
    display: block;
  }
  nav .navbar-collapse {
    display: none;
  }
  nav .navbar-collapse.show {
    display: block;
  }
  nav ul {
    display: block;
  }
  nav li {
    display: block;
  }
  section {
    margin: 0 16px;
  }
}
#contact {
  margin-bottom: 3rem;
}
#contact .contact-container {
  text-align: center;
  margin-top: 150px;
}
#contact .contact-container h2 {
  color: #f5f5f5;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 48px;
}
#contact .contact-container .email-copy {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* padding: 25px; */
}
#contact .contact-container .email-copy p#email {
  color: #f5f5f5;
  font-weight: 400 !important;
  margin-bottom: 0;
  padding: 15px 35px;
  background-color: rgba(13, 109, 253, 0.1294117647);
  background-color: #3c4043;
  border: 1px solid #0d6dfd;
  border-radius: 5px 0 0 5px;
  letter-spacing: 0.25px;
  font-size: 1.2rem;
  font-weight: 600;
}
#contact .contact-container .email-copy button {
  padding: 10px 25px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #0d6dfd;
  color: #ffffff;
}
#contact .contact-container p.hidden {
  display: none;
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}
#contact p.email-success {
  font-weight: 600;
  color: green;
  padding: 5px;
  width: 125px;
  margin: 15px auto;
  transition-timing-function: ease-in;
  transition-duration: 800ms;
}

#hero {
  text-align: center;
  padding: 4rem auto;
  margin-bottom: 4rem;
}
#hero h1 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  color: #ffffff;
}
#hero p.lead {
  color: #bdbdbd;
  font-size: 1.25rem;
  width: 40%;
  margin: auto;
  margin-bottom: 4rem;
}

#templates {
  margin: 4rem 9.3rem;
}
#templates .template-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
  justify-items: center;
}
#templates .template-container .template-item img {
  height: 250px;
  width: 100%;
}
#templates .template-container .template-item h3 {
  color: #ffffff;
  font-size: 1.93rem;
}
#templates .template-container .template-item p {
  color: #bdbdbd;
  font-size: 1.3rem;
}
#templates .template-container .template-item a {
  margin-top: 0.85rem;
}

#pricing {
  padding: 4rem auto;
}
#pricing h1 {
  font-size: 1.54rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #ffffff;
}
#pricing p {
  color: #bdbdbd;
  font-size: 1rem;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}
#pricing .bmc-btn-container {
  text-align: center;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */